.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.imageItem {
  width: 300px;
  height: 200px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.imageItem:hover {
  transform: scale(1.05);
}
